

/* ------------------------------------------------------------------- 
 * ## display headings
 * ------------------------------------------------------------------- */
.display-1 {
    font-family: "montserrat-medium", sans-serif;
    font-size: 7.8rem;
    line-height: 1.25;
    color: #000000;
    margin-top: 0;
}

.display-1--light {
    color: #FFFFFF;
}

.display-2 {
    font-family: "montserrat-medium", sans-serif;
    font-size: 5.2rem;
    line-height: 1.255;
    color: #000000;
    margin-top: 0;
}

.display-2--light {
    color: #FFFFFF;
}

.subhead + .display-2 {
    margin-top: .6rem;
}

.subhead {
    font-family: "montserrat-bold", sans-serif;
    font-size: 1.7rem;
    line-height: 1.333;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: #374290;
    margin-top: 0;
    margin-bottom: 0;
}

.subhead--dark {
    color: #000000;
}


/* ------------------------------------------------------------------- 
 * responsive:
 * display headings
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
    .display-1 {
        font-size: 7.2rem;
    }
    .display-2 {
        font-size: 4.4rem;
    }
}

@media only screen and (max-width: 800px) {
    .display-1 {
        font-size: 6.5rem;
    }
    .display-2 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 600px) {
    .display-1 {
        font-size: 5rem;
    }
    .display-2 {
        font-size: 3.3rem;
    }
    .subhead {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 400px) {
    .display-1 {
        font-size: 4.2rem;
    }
    .display-2 {
        font-size: 3rem;
    }
}


/* ------------------------------------------------------------------- 
 * ## section header
 * ------------------------------------------------------------------- */
.section-header {
    text-align: center;
    position: relative;
    margin-bottom: 3.6rem;
    max-width: 960px;
}

.section-header.has-bottom-sep {
    padding-bottom: 2.1rem;
    position: relative;
}

.section-header.has-bottom-sep::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 550px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.section-header.has-bottom-sep.light-sep::before {
    background-color: rgba(255, 255, 255, 0.05);
}


/* ------------------------------------------------------------------- 
 * responsive:
 * section-header
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
    .section-header {
        max-width: 800px;
    }
}

@media only screen and (max-width: 900px) {
    .section-header {
        max-width: 700px;
    }
}

@media only screen and (max-width: 800px) {
    .s-clients {
        padding-bottom: 17.4rem;
    }
    .section-header.has-bottom-sep::before {
        width: 400px;
    }
}

@media only screen and (max-width: 600px) {
    .section-header.has-bottom-sep {
        padding-bottom: 0;
    }
    .section-header.has-bottom-sep::before {
        width: 250px;
    }
}


/* ------------------------------------------------------------------- 
 * ## slick slider 
 * ------------------------------------------------------------------- */
.slick-slider .slick-slide {
    outline: none;
}

.slick-slider .slick-dots {
    display: block;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 3rem 0 0 0;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
}

.slick-slider .slick-dots li {
    display: inline-block;
    width: 27px;
    height: 27px;
    margin: 0;
    padding: 9px;
    cursor: pointer;
}

.slick-slider .slick-dots li button {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #959595;
    border: none;
    line-height: 10px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.slick-slider .slick-dots li button:hover,
.slick-slider .slick-dots li button:focus {
    outline: none;
}

.slick-slider .slick-dots li.slick-active button,
.slick-slider .slick-dots li:hover button {
    background: #374290;
}



/* ===================================================================
 * # header styles
 *
 * ------------------------------------------------------------------- */
.s-header {
    width: 100%;
    height: 96px;
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 500;
}


/* -------------------------------------------------------------------
 * ## header logo
 * ------------------------------------------------------------------- */
.header-logo {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 501;
}

.header-logo a {
    display: block;
    margin: 9px 0 0 0;
    padding: 0;
    outline: 0;
    border: none;
    width: 80px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}



/* ===================================================================
 * # clients
 *
 * ------------------------------------------------------------------- */
.s-clients {
    padding-top: 16.2rem;
    padding-bottom: 16.8rem;
    background-color: #e6e6e6;
    color: #757575;
    position: relative;
}


/* ------------------------------------------------------------------- 
 * ## slider
 * ------------------------------------------------------------------- */
.clients-outer {
    margin-top: 3.6rem;
    padding-bottom: 9rem;
    text-align: center;
    position: relative;
}

.clients__slide {
    display: block;
    opacity: .55;
    padding: 1.5rem 2.8rem;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.clients__slide:hover, .clients__slide:focus {
    opacity: 1;
}


/* ------------------------------------------------------------------- 
 * ## testimonials
 * ------------------------------------------------------------------- */
.clients-testimonials {
    margin-top: 4.2rem;
    padding-top: 7.2rem;
    text-align: center;
    position: relative;
}

.clients-testimonials::before {
    content: "";
    display: block;
    height: 1px;
    width: 550px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.clients-testimonials .testimonials {
    margin: 0 10%;
}

.clients-testimonials .testimonials p {
    font-family: "lora-regular", serif;
    font-size: 3rem;
    line-height: 1.8;
    color: #555555;
    margin-bottom: 6rem;
}

.clients-testimonials .testimonials__slide {
    padding: 0 0 3rem 0;
}

.clients-testimonials .testimonials__avatar {
    height: 8.4rem;
    width: 8.4rem;
    border-radius: 50%;
    margin: 0 auto 1.2rem auto;
}

.clients-testimonials .testimonials__name, 
.clients-testimonials .testimonials__pos {
    display: block;
}

.clients-testimonials .testimonials__name {
    font-family: "montserrat-semibold", sans-serif;
    color: #000000;
}

.clients-testimonials .testimonials__pos {
    font-family: "montserrat-light", sans-serif;
    font-size: 1.4rem;
}

.clients-testimonials .testimonials .slick-arrow {
    position: absolute;
    top: 7.2rem;
    width: 66px;
    height: 66px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 22px 15px;
    background-position: center;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    z-index: 2;
}

.clients-testimonials .testimonials .slick-prev {
    left: -130px;
    background-image: url("../images/left-arrow.png");
}

.clients-testimonials .testimonials .slick-next {
    right: -130px;
    background-image: url("../images/right-arrow.png");
}

.clients-testimonials .testimonials .slick-dots {
    margin-top: -0.6px;
}


/* ------------------------------------------------------------------- 
 * responsive:
 * clients
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
    .clients-testimonials .testimonials {
        margin: 0 12%;
    }
    .clients-testimonials .testimonials p {
        font-size: 2.6rem;
    }
    .clients-testimonials .testimonials .slick-prev {
        left: -100px;
    }
    .clients-testimonials .testimonials .slick-next {
        right: -100px;
    }
}

@media only screen and (max-width: 1000px) {
    .clients-testimonials .testimonials p {
        font-size: 2.2rem;
    }
}

@media only screen and (max-width: 800px) {
    .clients-testimonials::before {
        width: 400px;
    }
    .clients-testimonials .testimonials {
        margin: 0 2rem;
    }
    .clients-testimonials .testimonials .slick-arrow {
        top: auto;
        bottom: 3rem;
    }
    .clients-testimonials .testimonials .slick-prev {
        left: 0;
    }
    .clients-testimonials .testimonials .slick-next {
        right: 0;
    }
}

@media only screen and (max-width: 600px) {
    .s-clients {
        padding-top: 12rem;
    }
    .clients-testimonials::before {
        width: 250px;
    }
    .clients-testimonials .testimonials {
        margin: 0;
    }
    .clients-testimonials .testimonials p {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 400px) {
    .clients-testimonials .testimonials p {
        font-size: 1.9rem;
    }
}


/*======================================
//--//-->   TESTIMONIALS
======================================*/

.testimonials .owl-carousel .owl-item img {
  width: auto;
}

.testimonial-box {
  color: #fff;
  text-align: center;
}

.testimonial-box .author-test {
  margin-top: 1rem;
}

.testimonial-box .author-test img {
  margin: 0 auto;
}

.testimonial-box .author {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1rem 0;
  display: block;
  font-size: 1.4rem;
}

.testimonial-box .comit {
  font-size: 2rem;
  color: #0078ff;
  background-color: #fff;
  width: 52px;
  height: 52px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  line-height: 1.6;
}





#faqs{
   /* background-color: #1f768861;*/
}

.accordion:before{
    content: "";
    width: 1px;
    height: 80%;
    background: #333333;
    position: absolute;
    top: 30px;
    left: 24px;
    bottom: 20px;
}
.accordion .card{
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin: 0 0 12px 50px;
    position: relative;
}
.accordion .card:before{
    content: "";
    width: 2px;
    height: 100%;
    background: #333333;
    position: absolute;
    top: 0;
    left: -2px;
}
.accordion .card-header{
    padding: 0;
    background: #fff;
    position: relative;
}
.accordion .card-header:before{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: #1f768861;
    border: 1px solid #333333;
    position: absolute;
    top: 50%;
    left: -48px;
    transform: translateY(-50%);
}
.accordion .mb-0{
    padding: 0px;
}
.accordion .mb-0 a{
    display: block;
    padding: 15px 55px 15px 30px;
    font-size: 20px;
    font-weight: 600;
    color: #010948;
    border: none;
    margin: 0;
    position: relative;
}
.accordion .mb-0 a:before,
.accordion .mb-0 a.collapsed:before{
    content: "\f068";
    font-family:'FontAwesome';
    font-weight: 900;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: normal;
    color: #333333;
    text-align: center;
    border: 1px solid #333333;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    transition: all 0.5s ease 0s;
}
.accordion .mb-0 a.collapsed:before{ content: "\f067"; }
.accordion .card-body{
    padding: 10px 30px 10px;
    border: none;
    font-size: 14px;
    color: #333333;
    line-height: 28px;
}



